Package: libtbb2
Source: tbb
Version: 4.2~20140122-5
Architecture: armhf
Maintainer: Steve Capper <steven.capper@gmail.com>
Installed-Size: 248
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.4.0), libstdc++6 (>= 4.3.0)
Section: libs
Priority: extra
Homepage: http://threadingbuildingblocks.org/
Description: parallelism library for C++ - runtime files
 TBB is a library that helps you leverage multi-core processor
 performance without having to be a threading expert. It represents a
 higher-level, task-based parallelism that abstracts platform details
 and threading mechanism for performance and scalability.
 .
 (Note: if you are a user of the i386 architecture, i.e., 32-bit Intel
 or compatible hardware, this package only supports Pentium4-compatible
 and higher processors.)
 .
 This package includes the TBB runtime files.
